.game-border {
  height: 400px;
  width: 400px;
  border: black 1px solid;
}
h1 {
  font-family: 'Orbitron', sans-serif;
}
.jumbotron {
  background-image: url("/img/tree_bark.png");
}
.button {
  width: 60px;
  height: 60px;
}

.right {
  margin-left: 20px;
}
.down, .up {
  margin-left: 30px;
}

.attack {
  width: 120px;
}
#success-money {
  color: #216c2a;
}
