<h1>Home Page</h1>
<form action='/newpage' method=''>
  <div class='form-group'>
    <label></label>
    <input type="" name="" id="" class="form-control">
  </div>
  <button type="submit" class='btn'>Submit!</button>
</form>
